
<h1>User info</h1>
    <%#ここにユーザー情報を表示 %>
    <%# ユーザーの画像を表示 %>
    <p>name:<%= @user.name %></p>
    <p>introduction: <%= @user.introduction %></p>
    <% if @user == current_user %>
        <%= link_to "edit profile", edit_user_path(@user.id)%>
    <% end %>



<h1>New Book</h1>
<%= form_with model: @book do |f| %>
        <p>title</p>
    <%= f.text_field :title  %>
    <p>Opinion</p>
    <%= f.text_area :body %>

    <%= f.submit 'Create book', class: "btn btn-success" %>
<% end %>
