
<h2>User info</h2>
    <%#ここにユーザー情報を表示 %>
    <%# ユーザーの画像を表示 %>
<table class = "table">
    <tbody>
        <tr>
            <td>
                <p>name:<%= @user.name %></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>introduction: <%= @user.introduction %></p>
            </td>
        </tr>
    </tbody>
</table>

<% if @user == current_user %>

    <%= link_to "edit profile", edit_user_path(@user.id) ,class: "btn btn-block btn-outline-secondary"%>
<% end %>

<h2>New Book</h2>
<%= form_with model: @book do |f| %>
    <p>title</p>
    <%= f.text_field :title  %>
    <p>Opinion</p>
    <%= f.text_area :body ,class: "col:auto"%><br/>
    <%= f.submit 'Create book', class: "btn btn-success" %>
<% end %>
