
<%= render 'sidebar' %>

<p>title</p>
<%= @showbook.title %>

<p>opinion</p>
<%= @showbook.opinion %>

<% if @showbook.user.id == current_user.id %>
  <%= link_to "edit" ,edit_book_path(@showbook.id) %>
  <%= link_to "destroy" ,book_path(@showbook.id), method: :delete %>
  <% end %>
