
<%= render 'sidebar' %>

<p>title</p>
<%= @showbook.title %>

<p>opinion</p>
<%= @showbook.body %>

<% if @showbook.user == current_user %>
  <%= link_to "edit" ,edit_book_path(@showbook.id) %>
  <%= link_to "destroy" ,book_path(@showbook.id), method: :delete %>
<% end %>
