<div class ="container">
  <div class = "row">
    <div class = "col-3">
      <%= render 'sidebar' %>
    </div>
    <div class ="col-8">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @showbook.user.get_profile_image(100,100)%><br><%= link_to @showbook.user.name , user_path(@showbook.user.id)%></td>
            <td><%= @showbook.title %></td>
            <td><%= @showbook.body %></td>
            <% if @showbook.user == current_user %>
              <td><%= link_to "Edit" ,edit_book_path(@showbook.id) , class: "btn btn-success"%></td>
              <td><%= link_to "destroy" ,book_path(@showbook.id), method: :delete ,class: "btn btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






