<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="d-flex flex-column vh-100">
    <header class ="shadow-sm"> <%# 後で消してみてサンプルと比べてみる%>
      <nav class =  "navbar navbar-expand-lg navbar-dark bg-dark">
        <div class ="container">
          <a  class ="navbar-brand" href ="/"><span>Bookers</span></a><%#　要調整 %>
          <button class ="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expand="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class ="navbar-nav ml-auto">

              <% if user_signed_in? %>
                <%= link_to user_path(current_user.id) do%>
                  <li class ="nav-item text-light p-2">
                    <span><i class="fas fa-home"></i> Home</span>
                  </li>
                <% end %>

                <%= link_to users_path do %>
                  <li class ="nav-item text-light p-2"><span><i class="fas fa-users"></i> Users</span></li>
                <% end %>
                <%= link_to books_path do %>
                <li class ="nav-item text-light p-2"><span><i class="fas fa-book-open"></i> Books</span></li>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <li class ="nav-item text-light p-2"><span><i class="fas fa-sign-out-alt"></i> Log out</span></li>
                <% end %>
              <% else %>
                <%= link_to "/" do%>
                  <li class ="nav-item text-light p-2">
                    <span><i class="fas fa-home"></i> Home</span>
                  </li>
                <% end %>
                <%= link_to "homes/about" do%>
                  <li class ="nav-item text-light p-2"><span><i class="fas fa-link"></i> About</span></li>
                <% end %>
                <%= link_to new_user_registration_path do%>
                  <li class ="nav-item text-light p-2"><span><i class="fas fa-user-plus"></i> Sign up</span></li>
                <% end %>
                <%= link_to new_user_session_path do %>
                  <li class ="nav-item text-light p-2"><span><i class="fas fa-sign-in-alt"></i> Log in</span></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class ="container mt-5">
        <div class ="row">
          <div class ="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
